:root {
  --contWidth: 99%
}

.App {
  text-align: center;
}

.container {
  width: var(--contWidth);
  margin: 2% auto 2% auto;
}

@media (min-width: 600px) {
  :root {
    --contWidth: 90%;
  }
}

@media (min-width: 800px) {
  :root {
    --contWidth: 70%;
  }
}

@media (min-width: 1000px) {
  :root {
    --contWidth: 60%;
  }
}

@media (min-width: 1280px) {
  :root {
    --contWidth: 40%;
  }
}